* {
  margin: 0;
}

.header-line {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc2b6;
  background-color: #ff855f;
  transition: height 300ms linear 0s;
}

.header-line:hover {
  height: 60px;
}

.header-line span {
  font-size: 20px;
  transition: font-size 300ms 0s;
}

.header-line:hover span {
  font-size: 30px;
}

.header-line img {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 20px;
  transition: top 300ms 0s;
}

.header-line:hover img {
  left: 10px;
  top: 20px;
}

.header-line svg {
  position: absolute;
  height: 55px;
  top: 3px;
  margin-left: 189px;
  stroke-dasharray: 2819;
  stroke-dashoffset: 2819;
  -webkit-transition: stroke-dashoffset 50ms;
}

.header-line:hover svg {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 2s 300ms;
}

.header-text-line {
  display: flex;
  justify-content: center;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 1%;
}

.card {
  width: 18%;
  max-width: 130px;
  height: 200px;
  position: relative;
  display: inline-block;
}
.card .img-2 {
  display: none;
  position: absolute;
  z-index: 99;
}
.card:hover .img-2 {
  display: flex;
}

.card:hover .img-1 {
  display: none;
  z-index: 99;
}
